body {
    background-color: #ff0000;
    animation: colorTransition 0.5s infinite alternate;
    box-sizing: border-box;
} 
@keyframes colorTransition {
    0% {
        background-color: #130d0d;
    }
    100% {
        background-color: #000000;
    }
}
p, h1, h2, li{
    color: #ff0000;
    animation: colorTransitio 1s infinite alternate;
    text-align: center;
    font-size: clamp(12px, 3vw, 14px) !important;

}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes colorTransitio {
    0% {
        color: #f0e2ff;
    }
    100% {
        color: #fffbf2;
    }
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}
img{
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    object-fit: cover;
}
div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
@media (max-width: 1000px) {
    div{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    div{
        grid-template-columns: repeat(1, 1fr);
    }
}